//Gallery

//overwrite and set wordpress rules
.gallery {
    text-align: center !important;
    padding-bottom: $box-spacing;
    .gallery-item {
        display: inline-block !important;
        float: none !important;
        width: auto !important;
        padding: 8px;
        margin: 0 !important;
        .gallery-icon a {
            display: block;
        }
        &:hover {
            background-color: $alert-info-bg;
        }
    }
    .gallery-caption {
        display: none;
    }
}
