//Gallery

//overwrite and set wordpress rules
.gallery {
    text-align: center !important;
    padding-bottom: $box-spacing;
    .gallery-item {
        display: inline-block !important;
        float: none !important;
        width: auto !important;
        padding: 8px;
        margin: 0 !important;
        .gallery-icon a {
            display: block;
        }
    }
    .gallery-caption {
        display: none;
    }
    img {
        transition: 300ms linear;
        box-shadow: none !important;
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        &:hover {
            transform: scale(1.05);
            box-shadow: 3px 3px 3px $theme-container-color !important;
            -moz-box-shadow: 3px 3px 3px $theme-container-color !important;
            -webkit-box-shadow: 3px 3px 3px $theme-container-color !important;
        }
    }
}
