//Gallery

//overwrite and set wordpress rules
.gallery {
    text-align: center !important;
    padding-bottom: $box-spacing;
    .gallery-item {
        display: inline-block;
        //float: none !important;
        //width: auto !important;
        padding: 5px;
        //margin: 0 !important;
        .gallery-icon a {
            display: block;
        }
    }
    .gallery-caption {
        display: none;
    }
    img {
        transition: 300ms linear;
        -moz-transition: 300ms linear;
        -webkit-transition: 300ms linear;
        -o-transition: 300ms linear;
        box-shadow: none !important;
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        &:hover {
            transform: scale(1.05);
            -ms-transform: scale(1.05);
            -webkit-transform: scale(1.05);
            -moz-transform: scale(1.05);
            -o-transform: scale(1.05);
            box-shadow: 3px 3px 3px $theme-container-color !important;
            -moz-box-shadow: 3px 3px 3px $theme-container-color !important;
            -webkit-box-shadow: 3px 3px 3px $theme-container-color !important;
        }
    }
/*    br {
        display: none;  //remove row separation in gallery for responsiveness sake
    }*/
}

.gallery_page,
.gallery_pages {
    min-width: 2em;
}
.gallery-stats {
    > span,
    > span:hover,
    > span:focus,
    > a,
    > a:hover,
    > a:focus {
      color: $pagination-disabled-color !important;
      background-color: $pagination-disabled-bg !important;
      border-color: $pagination-disabled-border;
      cursor: default;
    }
  }
  .gallery-nav {
      text-align: center;
      font-weight: bold;
      .pagination {
          margin-bottom: 0 !important;
          margin-right: 0 !important;
          margin-left: 0 !important;
      }
  }